.App {
  text-align: center;
}

#alignment-grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  border: solid black 1px;
  width: 30em;
  margin-left: 50%;
  right: 15em;

  div {
    border: solid black 1px;
    cursor: pointer;
  }

}
